
<div class="wrapper">
    
    <!-- <div class="card" style="width: 18rem;"> -->
        <img class="card-img-top" src= {{products.imgUrl}} alt="Card image cap" height="150" width="150">
        <div class="card-body">
            <h5 class="card-title">{{ products.name }}</h5>
            <h6>{{ products.category }}</h6>
        
            <span class="float-left">Price: {{ products.price | currency }}</span>
            <!-- <span class="float-right">Available: {{ produce.quantity }}</span> <br> -->
        
            <br>
            <div class="row">
                <input [(ngModel)]="qtyToPurchase" type="number" class="form-control" placeholder="Qty" [max]="products.quantity">
                <button type="button" class="btn btn-success" [class.disabled]="qtyToPurchase > products.quantity" (click)="onAddToCart(products)">{{ buttonText }}</button>
            </div>
      <!-- </div> -->

</div>


<!-- NOTES
9/15/2019: Line 4 Div class commented out because its creating a secondary card that sits
behind the product card. 

9/15/2019: Line 11 span class/Available commented out because of spacing issue it creates
inside the card. Basically - you can't see the category or the Add to Cart button when the 
class is active




-->

