.navbar {
    height: 100px;
    align-content: right;
    background-image: "/src/assets/Inktober Day 4c.jpg";
}

p {
    width: 272px;
    align-content: right;
    position: relative;
    padding-top: 100px;
    font-size: 12px;
    color: white;
    font-family: cursive;
}