<table class="table" *ngIf="productsInCart.length > 0">

    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Sales Tax</th>
            <th scope="col">Import Tax</th>
            <th scope="col">Sub Total</th>
        </tr>
    </thead>

    <!--trying to inject sales tax with the currency pipe - not showing up-->
    <tbody>
        <tr *ngFor="let p of productsInCart; let i = index">
            <td>{{ p.name }}</td>
            <td><button class="btn btn-info" [class.disabled]="p.Quantity == 0" (click)="onDecreaseQty(p)">-</button>&nbsp;{{ p.quantity }}&nbsp;<button class="btn btn-info" [class.disabled]="p.quantity == p.available" (click)="onIncreaseQty(p)">+</button></td>
            <td>{{ p.price | currency }}</td>
            <td>{{ p.salesTax | currency }}</td>

            <td><button class="btn btn-danger float-right" (click)="onRemoveProductsFromCart(i)">X</button></td>
        </tr>
    </tbody>

</table>

<strong *ngIf="productsInCart.length > 0">Total: {{ total | currency }}</strong>
<br>
<strong *ngIf="productsInCart.length > 0">Total Taxes: {{ taxes | currency }}</strong>
<br>
<br>
<button *ngIf="productsInCart.length > 0" class="btn btn-success" (click)="onPurchase()">Purchase</button>
<h5 *ngIf="productsInCart.length == 0">{{ infoText }}</h5>