/* You can add global styles to this file, and also import other style files */
html {
    background-color: gray;
}
.button-success {
    margin-top: 20px;
}

nav {
    background: linear-gradient(to bottom, #003366 0%, #3399ff 100%);
}

a.tagline {
    padding-left: 575px;
    font-size: 18px;
    font-weight: bolder;
    // font-family: Times;
}


.card {
    float: left;
    padding-left: 15px;
    padding-top: 20px;
    height: 50%;
    width: 50%;
    margin-left: 14px;
    margin-top: 20px;
    margin-right: 10px;
    align-content: center;
}

p {
    text-align: center;
    align-content: center;
}